In [4]:
list_of_anything = ['apples', 12, 34.99, True]; list_of_anything
len(list_of_anything)

4

In [5]:
list_of_anything.append('oranges')
len(list_of_anything)

5

In [6]:
first = list_of_anything[0]
last = list_of_anything[-1]
print ( f'From {first} to {last}')

From apples to oranges

In [7]:
list_of_anything[1:3]

[12, 34.99]

In [10]:
list_of_anything.remove(34.99)

In [13]:
list_of_anything

['apples', 12, True, 'oranges']

In [14]:
[type(e) for e in list_of_anything]

[str, int, bool, str]

In [15]:
[ i**2 for i in range (1, 5) if (i % 2 == 0) ]

[4, 16]

In [16]:
[type(e) for e in list_of_anything]

[str, int, bool, str]

In [17]:
[e for e in list_of_anything if type(e) == str]

['apples', 'oranges']

In [18]:
str_list = [str(e) for e in list_of_anything]

In [19]:
str_list

['apples', '12', 'True', 'oranges']

In [20]:
str_of_things = ",".join(str_list)

In [21]:
str_of_things

'apples,12,True,oranges'

In [22]:
new_list = str_of_things.split(',')

In [23]:
new_list

['apples', '12', 'True', 'oranges']

In [24]:
str_list  == new_list

True

In [29]:
x = [1,2,3,4,5]
y = [10,20,30,40,50]
z = ['a','b','c','d','e']

[z + '->' + str(x) + ':' + str(y) for x, y, z in zip(x,y,z)]

['a->1:10', 'b->2:20', 'c->3:30', 'd->4:40', 'e->5:50']